
header {
    border-radius: 15px;
    margin-top: 5%;
}

body {
    background-image: url("imagens/background.jpg");
    font-family: lato, Helvetica, sans-serif;
    
    
}

h1 {
    font: inherit;
    font-size: 25px;
    text-align: center;
    background-color: #f9ff007d;
    padding: 8px;
    margin: 2px 380px 2px 380px;
    text-transform: uppercase;
    border-radius: 180px;
    box-shadow: 3px 3px 15px;
    letter-spacing: 10px;
}
    



figure {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}

header figure img {
    border-radius: 180px;
    width: 300px;
    box-shadow: 3px 3px 15px;
}

footer {
    
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

footer section figure {
    float: left;
    width: 60px;
    
    
}

footer section {
    z-index: 1;
    position: relative;
    margin-top: 80px;
}

nav li a {

    
    padding: 0px;
    text-decoration: none;
     color: #303030;
     line-height: 2.2em;
     margin: 3px;
     background-color: #f9ff007d;
     box-shadow: 3px 3px 15px;
    padding: 7px;
    border-radius: 15px;
    
     
}

nav li {
    float: left;
    padding: 0;
    
}

nav ul {
    
    list-style: none;
    padding: 0;
    
}

nav {
    
    letter-spacing: 10px;
    width: 500px;
    z-index: 2;
    position: absolute;
   
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}
